* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards {
  display: flex;
}

button {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: aquamarine;
  border: 2px solid rgb(67, 136, 113);
  border-radius: 8px;
  cursor: pointer;
}

h3 {
  margin: 10px auto;
}

.box {
  width: 200px;
  margin: 10px auto;
  background-color: rgb(145, 145, 145);
  color: white;
  padding: 50px 0;
  border: 2px solid rgb(67, 136, 113);
  text-align: center;
}