* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards {
  display: flex;
}

button {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: aquamarine;
  border: 2px solid rgb(67, 136, 113);
  border-radius: 8px;
  cursor: pointer;
}